body {
    min-height: 100vh;
    background: linear-gradient(to bottom,
            var(--secondary-color-1) 0% 25%,
            var(--primary-color) 25% 100%);
}

img {
    width: auto;
    height: 30vh;
    object-fit: cover;
}

.image-background {
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vh;
    height: 40vh;
    border-radius: 50% 50% 0 0; 
}


