:root{
    --bg: #F9EDFA;
    --texts: #000000; 
}

* {box-sizing: border-box;}
html, body{
    height: 100%;
    margin: auto;
    color: var(--texts);
}

.landing-p-container{
    text-align: center;
    justify-content: center;
    margin: auto;
    min-height: 100vh;
    display: flex;


    .landing-c-container{
        width: 500px;
        max-width: auto;
        margin: 0 0 0 10%; 
        padding: 60px 0;
    }
}

.landing-buttons{
    background: white;
    color: #000000;
}

